@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600;700&display=swap');

.bod{
    /* background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(104,82,242,1) 34%, rgba(0,212,255,1) 100%); */
   background-color: #6852F2;
   
    height: 100vh;
}


form{
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color:#fff;
    color: #000;
    padding: 10px;
    margin: 0 auto;
    width: 380px;
    height: 380px;
    border-radius: 10px;
}

input{
    margin-bottom: 15px;
    outline: none;
    border-radius: 3px;
    border: 0;
}

.field{
    border:solid 1px #ccc ;
    padding: 5px;
}
.field:focus{
    border-color: #6852F2;
}


.btn{
        position: absolute;
        top: 30px;
        left: 80px;
        width: 100px;
        height: 30px;
        background-color: #FF8C26;
        color: #fff;
        font-size: 19px;
        font-weight: 500;
        border-radius: 10px;
        box-decoration-break: none;
        border: none;
        cursor: pointer;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
        
      }
      
      .btn:hover, .btn:focus, .btn:active{
         box-shadow: 0 0 20px rgba(255, 246, 246, 0.651); 
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }


      /*TITULO */

      .titulo{
        color: #fff;
        padding-top: 10px;
        padding-bottom: 15px;
        font-family: 'Signika', sans-serif;
        font-size: 45px;
        font-weight: 700;
      }


      /*BUTTON SUBMIT*/
 
    .submit{
        margin-top: 30px;
        margin-bottom: 20px;
        background-color:#9FD948 ;
        border: none;
        width: 200px;
        height: 50px;
        color:#000;
        font-size: 21px;
        font-weight: 600;
        border-radius: 10px;
        box-decoration-break: none;
        cursor: pointer;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
        
      }
 
      .submit:hover, .submit:focus, .submit:active{
        background: #0dad08;
        color: #fff;
        box-shadow: 0 0 20px rgba(255, 246, 246, 0.651); 
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
     }

      /*PAISES AÑAADIDOS*/ 

    .countriesTitulo{ 
        padding-top: 5px;
        font-family: 'Signika', sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        
    }


    .paises{
        display: flex;
        justify-content: center;
       
    }

    .divName{
        display: flex;
        align-items: center; 
        background-color: #9FD948;
        padding: 13px 20px ;
        border-radius: 5px;
        font-weight: 500;
        margin: 10px;
       
    }

    .btnX{
       display: flex;
       margin: 0;
       padding: 5px;
       border-radius: 5px;
       border: none;
       margin-left: 20px;
       transition: 0.3s;
    }

    .btnX:hover{
        cursor: pointer;
        background-color: rgb(223, 16, 16);
        color: #fff;
        font-size: 14px;
    }

    .label{
        margin-right:10px;
    }


    /*   ERRORES    */
    
    .error{
        color:rgb(223, 16, 16); ;
    }

    .todosCampos{
        margin-top: 10px;
        color: #FF8C26;
    }